@model New_System.Models.Input_Materails

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/MainView.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Input_Materails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insert_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insert_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raw_Materials.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raw_Materials.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
