@model IEnumerable<New_System.Models.Input_Materails>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainView.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("All Materails", "All_Materails")
</p>
<p>
    @Html.ActionLink("RawMaterails In Month", "Materails_Month")
</p>
<p style="float:right">
    @Html.ActionLink("DailyMaterails", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Insert_date)
        </th>
        <th>
            @Html.DisplayName("ChangeQuantity")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insert_date)
            </td>
            <td>
                @using (Html.BeginForm("ChangeQuantity", "Input_Materails"))
                {
                    <input type="text" name="Quantity" id="Quantity" />
                    <input type="number" value="@item.IdMaterials" id="IdMaterail" name="IdMaterail" hidden />
                    <input type="number" value="@item.Id" name="ID" id="ID" hidden />
                    <input type="submit" value="Change" />
                }
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.Id })*@
                @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            </td>
        </tr>
    }

</table>
