
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Index</h2>
@if (ViewBag.ss != null)
{
    <div class="alert alert-success">
        <strong>Secondary!</strong> @ViewBag.ss
    </div>
}
<p>
    @Html.ActionLink("Contiue shopping", "Index2", "Products")
</p>
@if ((List<New_System.Models.Item>)Session["cart"] == null)
{
    <h3 style="text-align:center">You are not Selected any product</h3>
}

else
{

    <table class="table">
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Product type
            </th>
            <th>
                Amount
            </th>
            <th>
                Product salary
            </th>
            <th>
                Sum salary
            </th>
            <th></th>
        </tr>

        @foreach (var item in (List<New_System.Models.Item>)Session["cart"])
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product.Salary)
                </td>
                <td>
                    @{
                        decimal salary;
                        salary = Convert.ToDecimal(item.quantity * item.product.Salary);
                    }
                    @salary
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.product.Id })
                </td>
            </tr>
        }

    </table>
    @Html.ActionLink("Check", "AddOrder", "orders")

}
@*<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="K7QUSUXL2JRDY">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>*@
